# Datasets
0_Datasets/

# Personal Files
X-Personal/

# Saved Models
4_Saved_Models/

# Cache Files
.idea/
.git/
__pychache__/

# Miscellaneous
X-Personal/z - experimentation.py
Train_Loops/x - reference.py
